.card-container {
    background-image: linear-gradient(to right, #c4bae4, #dbcdcd);
    padding: 16px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-logo {
        display: flex;
        justify-content: flex-end;

        .logo-img {
            height: 50px;
            width: 70px;
            display: inline-block;
        }
    }

    .card-chip {
        display: flex;
        justify-content: flex-start;

        .chip-img {
            height: 20px;
            width: 20px;
        }
    }

    .card-name-and-date {
        display: flex;
        justify-content: space-between;
    }

    .add-card {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-sign {
            color: red;
            width: 20px;

        }
    }
}